body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 400px;
  height: 90vh;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px;
}

span,
input {
  margin-bottom: 10px;
  outline: none;
}
.set-task label {
  margin-right: 15px;
}
.text-input {
  height: 5vh;
  font-size: large;
  border-radius: 10px;
  border: none;
}

.task-name {
  width: 85%;
}
select {
  outline: none;
  border-radius: 5px;
}
.header {
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.current-date {
  font-size: 25px;
  color: #666afb;
}

.clear-all {
  border-radius: 10px;
  background-color: #fb6f70;
  border: none;
  color: white;
  padding: 0px  10px;
  text-align: center;
  font-size: 16px;
}
.add-new-task {
  border-radius: 10px;
  background-color: #fb6f70;
  border: none;
  color: white;
  text-align: center;
  padding: 8px;
  margin-left: 10%;
}
.task {
  border-bottom: 1px solid black;
  margin: 15px;
}

.doneTask {
  text-decoration: line-through;
  color: grey;
}

.one {
  display: flex;
  justify-content: space-between;
}
[hidden] {
  display: none;
}

.list-result {
  list-style-type: none;
  height: 60vh;
  overflow: auto;
}
